$primary: #4B56D2;


@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


@keyframes in {
  0% {
    left: 0;
    right: auto;
    opacity: 1;
  }
  50% {
    left: 0;
    right: auto;
    opacity: 0;
    scale: 1;
  }
  50.1% {
    left: auto;
    right: 0;
    opacity: 0;
    scale: 0.85;
  }
  100% {
    color: #23c79a;
    left: auto;
    right: 0;
    opacity: 0;
    scale: 0.85;
  }
}

:host {
  background-color: #20262E;
  height: 100vh;
  display: block;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.email-wrapper {
  // border: 1px solid black;
  border-radius: 15px;
  background: white;
}

.title {
  background: $primary;
  padding: 1.2rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 20px;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  .icon {
    margin-right: 10px;
  }
}

.container-message {
  position: relative;
  padding: 1rem;
}

.control {
  display: flex;
  gap: 1rem;
  align-items: center;
  label {
    width: 65px;
    font-weight: 600;
  }
  input {
    width: 35rem;
    height: 56px;
    font-family: inherit;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #919191;
    outline: none;
    padding: 0;
    font-size: 18px;
  }
}

.message {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  label {
    margin-bottom: 10px;
    font-weight: 600;
  }
  textarea {
    margin: 10px;
    outline: none;
    border-radius: 7px;
    padding: 10px;
    font-size: 18px;
  }
}

.send-button {
  margin: 1rem 0;
  justify-self: center;
  display: flex;
  justify-content: center;
  .button {
    padding: 10px 16px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    background-color: $primary;
    border: transparent;
    width: 10rem;
    cursor: pointer;
  }
}

.icon-spinner {
  animation: fa-spin 2s infinite linear;
  display: block;
}


:is(input:focus, input.has-value)
~ label {
  animation: in 0.5s both;
}

input:focus,
input.has-value {
  border-color: #23c79a;
}

