$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-phone: "\e901";
$icon-phone-solid: "\e900";
$icon-mail-checked: "\e907";
$icon-mail-checked-solid: "\e902";
$icon-send: "\e904";
$icon-send-solid: "\e905";
$icon-spinner: "\e97c";
$icon-warning: "\ea07";
